body {
  font-family: sans-serif;
  margin: 0;
}

.page-width {
	max-width: 908px;
	margin: auto;
}

.baloo-font {
	font-family: 'Baloo', cursive;
}

.top-image {
	position: absolute;
    width: 100%;
	height: 30rem;
	background-image: url("agriculture-bunch-cooking-606540.jpg");
	background-size: cover;
}

.postings-container {
	position: absolute;
    margin-top: 33rem;
    min-height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.left {
  float:left;
}

.right {
  float:right;
}

.posting-card {
  display: inline-block;
  position: relative;
  margin: 1.3rem;
  height: 10.5rem;
  width: 12.8rem;
  background-image: url("gala-apples.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  transition: ease all .4s;
}

.posting-name {
  display: block;
  bottom: 0;
  position: absolute;
  box-sizing: border-box;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 35px;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
}

.posting-top {
  font-size: 10px;
}

.posting-bottom {
  display: block;
  bottom: 0;
  position: absolute;
  box-sizing: border-box;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  background-color: #88ab75;
  font-size: 12px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .posting-card {
  margin: 0.7rem;
  }
}

/*--- Profile Button styles ---*/

.home-profile-button-container {
  position: absolute;
  top: 47px;
  right: 47px;
}

.profile-button-container {
  border: 3px solid #ffbd0a;
  width: 63px;
  height: 63px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-button {
	width: auto;
	height: 63px;
	margin-left: -25%;
}

/*--- Search Bar styles ---*/

.home-search-container {
  margin-top: 20rem;
  margin-bottom: 2rem;
}

.search-container {
	width: 50%;
	max-width: 370px;
	margin: auto;
	position: relative;
}

input[type=text].main-search-bar {
	width: 100%;
	padding: 6px;
	padding-left: 20px;
	font-size: 17px;
	border-radius: 30px;
	border: 1px solid lightgray;
	text-align: left;
	color: dimgrey;
	outline: none;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  background: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 3px);
  margin-top: 1px;
}

.search-container button:hover .search-img {
  opacity: 0.3;
}

.search-img {
	width: 20px;
	transition: opacity 500ms;
}

/*--- Tag styles ---*/
.tagbar {
	max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tag {
	display: inline-block;
    background-color: #7f3f3f;
    padding: 10px 16px;
    margin: 0 0.5rem;
    border-radius: 20px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
    white-space: nowrap;
}

.tag-text {
	color: white;
	font-size: 14px;
}

.tag-x {
	width: 10px;
	margin-left: 1rem;
}

/*--- New/Edit Posting styles ---*/

#posting-image {
	display: inline-block;
	float: left;
	height: 355px;
	width: 331px;
	background-image: url("gala-apples.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	color: white;
}

#posting-create-form {
	display: inline-block;
	margin: 0 2rem; 
	max-width: 504px;
}


