.input-text {
  width: 100%;
  font-family: Baloo;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #88ab75;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
  outline: none;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-45 {
  width: 45%;
}
.w-25 {
  width: 25%;
}

.w-20 {
  width: 20%;
}

label {
  display: block;
  width: 100%;
  height: 16px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #c4c4c4;
}

textarea {
  color: #848484;
  background-color: #f4f4f4;
}
